@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}


/*   
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////  
 Start First Section
/////////////////////////////////////////////////////// 
///////////////////////////////////////////////////////
 */

.first-section {
  background: linear-gradient(300deg, #ede3e3, #e9e4e4, #d2e2e4, #cfeef1);
}


/*   
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////  
 End First Section
/////////////////////////////////////////////////////// 
///////////////////////////////////////////////////////
 */







/*   
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////  
 End Section-4
/////////////////////////////////////////////////////// 
///////////////////////////////////////////////////////
 */


.section-4 {
  height: fit-content;
  height: 1160px;
  align-items: center;
  background: linear-gradient(300deg, #ede3e3, 30%, #e9e4e4, #d8e3e4, #cae7e9);
}


/* Start Contact-Modal */
.contact-div1 {
  max-width: 1600px;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.contact-div1 h1:nth-child(1) {
  padding-top: 5%;
}

.contact-div1 h1 {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
}

.line-container {
  width: 250px;
  margin: 1% auto 2% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 2px;
  flex: 1;
  background-color: green;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  margin: 0 10px;
}

@media(max-width:590px) {
  .contact-div1 h1 {
    font-size: 30px;
  }

  .line-container {
    width: 50%;
  }
}

@media(max-width:350px) {
  .contact-div1 h1 {
    font-size: 25px;
  }
}


/* End Contact Modal */

/*
//////////////////////////////////////////////
//////////////////////////////////////////////
*/

/* Start COntact Method */


.contact-div2 {
  width: 90%;
  max-width: 1600px;
  margin: 5% auto;
  height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo1,
.logo2 {
  width: 30%;
}

.logo3 {
  width: 40%;
}

.logo-design {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  background-color: #f5f8f2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-shadow {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 30px;
  color: #FB6E0F;
}

.logo-txt {
  text-align: center;
  line-height: 30px;
}

@media (max-width:650px) {

  .contact-div2 {
    flex-direction: column;
    justify-content: space-around;
    height: 550px;
    align-items: center;
  }

  .logo1,
  .logo2,
  .logo3 {
    width: 100%;
  }
}

/* End Contact-Method */

/*
//////////////////////////////////////////////
//////////////////////////////////////////////
*/

/* Start Query Form and Location */


.contact-div3 {
  max-width: 1800px;
  width: 94%;
  display: flex;
  flex-direction: row;
  margin: 8% auto;
  height: 550px;
  justify-content: space-between;
}

.location {
  width: 45%;
  height: 80%;
  border: 1px solid black;
  border-radius: 25px;
  margin: auto;
}

.location>iframe {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.container {
  width: 53%;
  padding: 20px;
}

form {
  margin: 0 auto;
  width: 100%;
}

p {
  margin: 5px 0;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
}




.error-message {
  color: #f32c16;
  font-weight: bold;
  margin-top: 5px;
  font-size: 12px;
}

.first-line,
.second-line {
  display: flex;
  justify-content: space-between;
} 

.first-line>p,
.second-line>p {
  width: 48%;
}

.sub_msg {
  color: red;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}


input[type="submit"],
input[type="reset"] {
  background-color: #222322;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  margin: 4px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #45a049;

}


@media(max-width:1100px) {
  .section-4 {
    height: 1500px;
  }
  .contact-div3 {
    flex-direction: column;
    height: 950px;
    justify-content: space-around;
  }

  .container {
    width: 100%;
    height: 50%;
  }
  .container>h1{
    font-size: 28px;
  }
  form{
    margin-top: 15px;
  }

  .location {
    margin-top: 80px;
    width: 90%;
    height: 400px;
  }
}
@media(max-width:1000px) {
  .section-4 {
    height: 1450px;
  }

}
@media(max-width:850px) {
  .section-4 {
    height: 1450px;
  }  
  .location {
    margin-top: 80px;
}
}

@media (max-width:650px) {
  .section-4 {
    height: 1800px;
  }
  .location {
    margin-top: 80px;
  }
}

@media(max-width:600px) {
  .section-4 {
    height: 1750px;
  }
  .location {
    margin-top: 120px;
  }
  .container>h1{
    font-size: 24px;
  }
  
}


@media(max-width:500px) {
  .section-4 {
    height: 1800px;
  }
  .contact-div3 {
    height: 1200px;
  }

  .first-line {
    flex-direction: column;
  }

  .first-line,
.second-line {

    flex-direction: column;
  }

.first-line>p,
.second-line>p {
  width: 100%;
}
.location {
  height: 300px;
}
.container>h1{
  font-size: 20px;
}
.container>p{
  font-size: 14px;
}
}

@media(max-width:450px) {
  .contact-div3 {
    height: 1300px;
  }
  .section-4 {
    height: 1780px;
  }
  .location {
    height: 250px;
    margin-top: 80px;
    width:95%;
  }

}

@media(max-width:410px) {
  .container>h1{
    font-size: 18px;
  }
  .container>p{
    font-size: 14px;
  }
}

@media(max-width:350px) {
  .section-4 {
    height: 1850px;

  }

  .contact-div3 {
    height: 950px;
    margin-top: 50px;
  }

  .location {
    height: 200px;
    margin-top: 350px;
  }
  .container>h1{
    font-size: 16px;
  }
  .container>p{
    font-size: 12px;
  }
}


/*   
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////  
 End Section-4
/////////////////////////////////////////////////////// 
///////////////////////////////////////////////////////
 */


